
<div id="totop"></div>
<a href="#totop" class="fa fa-arrow-up" id="fixedarrow"></a>
<!-- <a href="#totop"><i class="fa fa-arrow-up" aria-hidden="true" id="fixedarrow"></i></a> -->
<!-- LEFT VERTICAL FIXED MENU -->
<div class="container">
<div class="row">
<div class="col-3">
    <div class="container">
    <ul>
        <li style="padding-bottom: 10px;padding-top: 10px;"><fa-icon [icon]="faTwitter" class="fa-xl"id="twittericon"></fa-icon></li>
        <li><button type="menu" class = "navbar-btn "><a href="#"><fa-icon [icon]="faHome" class="profileimage" ></fa-icon>Home</a></button></li>
        <li><button type = "menu" class = "navbar-btn "><a href="#"><fa-icon [icon]="faSearch" class="profileimage" ></fa-icon>Explore</a></button></li>
        <li><button type = "menu" class = "navbar-btn"><a href="#"><fa-icon [icon]="faBell" class="profileimage" ></fa-icon>Notification</a></button></li>
        <li><button type = "menu" class = "navbar-btn"><a href="#"><fa-icon [icon]="faEnvelope" class="profileimage" ></fa-icon>Messages</a></button></li>
        <li><button type = "menu" class = "navbar-btn"><a href="#"><fa-icon [icon]="faBookmark" class="profileimage" ></fa-icon>Bookmarks</a></button></li>
        <li><button type = "menu" class = "navbar-btn"><a href="#"><fa-icon [icon]="faUser" class="profileimage" ></fa-icon>Profile</a></button></li>
        <li><button class="btn btn-primary tweet-btn"  id = "ComposeTweet">Tweet</button></li>
        <li style="margin-top: 24vh;"><button class="btn tweet-btn"  (click)="this.authservice.SignOut()">Logout</button></li>
        
        
    </ul>
</div>
</div>

<!-- END OF LEFT FIXED MENU -->

<div class="col-6 middlecontainer">
    
        <section class="headsec">
            <i class="fa fa-arrow-left" id="fa-arrow-left"></i>
            <div>
                <h5 id="header-username">{{userInfo.name}}</h5>
                    <p id="header-tweetcnt">{{userInfo.NumberOfTweets}} Tweets</p>
            </div>
        </section>
        <section class="twitterprofile">
            <div class="headerprofileimage">
                <img [src]="banner | async" alt="header" id="headerimage">
                <img [src]="pfp | async" alt="profile pic" id="profilepic">
                <div class="editprofile"> <button type = "button" class="btn" data-toggle ="modal" data-target="#modalEditprofile"> Edit Profile</button></div>
            </div>
            <div class="bio">
                <div class="handle">
                    <br><h3>{{userInfo.name}}</h3> 
                    <span>@{{userInfo.username}}</span>
                </div>
                <p>{{userInfo.bio}}</p>
                
                
                <span> <i class="fa fa-location-arrow "></i> Kelowna, Canada. <a href="#"> <i
                            class="fa fa-external-link" aria-hidden="true"></i></a> <i
                        class="fa fa-birthday-cake" aria-hidden="true"></i> Born {{userInfo.bday}}</span>
                <br> <span><i class="fa fa-calendar"></i> Joined July 2022</span>
                <div class="nawa">
                    <div class="followers"> {{userInfo.followed}} <span>Following</span></div>
                    <div>{{userInfo.followers}}<span> Followers</span></div>
                </div>
            </div>
        </section>

        <section class="tweets">
            <div class="heading">
                <button class="btn active-rn" >Tweets</button>
                <button class="btn">Tweets and Replies</button>
                <button class="btn">Media</button>
                <button class="btn">Likes</button>
            </div>
        </section>
        <div class="mytweets">
            <div class="tweet">
            <div class="row container">
                <div class="col-2" style="box-sizing: border-box;">
            <img style="box-sizing: border-box;" [src]="pfp | async" alt="avi" class="avi">
                </div>
                <div class="col-10">
                    <div style="box-sizing: border-box;">
                <div class = "usename">{{userInfo.name}} @{{userInfo.username}} - Feb. 11</div>
                <div class="tweetcontent">Always check the replies for clarification before you retweet a tweet,
                    people deliberately mislead with their tweets.</div>
                </div>
            </div>
                <div class="retweeticons">
                    <button class="btn" style="width: 100%;"><fa-icon [icon]="faComment"  aria-hidden="true"></fa-icon></button>
                    <button class="btn" style="width: 100%;"><fa-icon [icon]="faRetweet" aria-hidden="true"></fa-icon></button>
                    <button class="btn" style="width: 100%;"><fa-icon [icon]="faHeart"  aria-hidden="true"></fa-icon></button>
                    <button class="btn" style="width: 100%;"><fa-icon [icon]="faUpload"  aria-hidden="true"></fa-icon></button>
                </div>
            </div>
        </div>
        </div>
    
    </div>


    <!-- RIGHT CONTAINER -->

    <div class="col-3">
        <section class="searchbar">
            <div class="searchicon"><i class="fa fa-search" aria-hidden="true"></i></div>
            <input type="text" name="search" id="searchbox" placeholder="Search Twitter">
        </section>

        <section class="twittermedia">
            <div><img src="../../../assets/TwitterBackgroundPage.png" alt="media"></div>
            
        </section>

        <section class="trends">
            <div class="headertrends">
                <h2>Canada Trends</h2>
                <i class="fa fa-cog" id="fa-cog"></i>
            </div>
            <div class="trenditem">
                <div class="trending"> 1 Trending</div>
                <div class="hashtag"> Cosc 310</div>
                <div class="trending"> Twitter Clone</div>
            </div>
            <div class="trenditem">
                <div class="trending"> 2 Trending</div>
                <div class="hashtag"> Cosc 310</div>
                <div class="trending"> Twitter Clone</div>
            </div>
           
            <div class="showmore">
                <a href="#" style="padding: 25px; color: royalblue;">Show more</a>
            </div>
        </section>

    </div>

</div>
</div>
 <div class="modal fade" tabindex="-1"  id="modalEditprofile">
        <div class="modal-dialog" role="document">
          <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
              <!-- <h5 class="modal-title">Modal title</h5> -->
              <h2 class="fw-bold mb-0">Edit Profile</h2>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" (click)="refresh()"></button>
            </div>
      
            <div class="modal-body p-5 pt-0">
              <form class="EditUser">
                <div class="form-floating mb-3">
                    <input type="text" #editName class="form-control floating-input floating-input1 rounded-3"  [value]="userInfo.name">
                    <label for="floatingInput"> Name</label>
                  </div>
                <div class="form-floating mb-3">
                  <input type="text" #newBio class="form-control floating-input floating-input2 rounded-3 "[value]="userInfo.bio">
                  <label for="floatingInput">User Bio</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="file" #newDP class="form-control floating-input floating-input3 rounded-3" accept=".png, .jpeg, .jpg" (change)="uploadPfp($event)">
                    <label for="floatingBirthday">Profile Picture</label>
                  </div>
                <div class="form-floating mb-3">
                    <input type="file" #newBanner class="form-control floating-input floating-input4 rounded-3 " accept=".png, .jpeg, .jpg" (change)="uploadbanner($event)">
                    <label for="floatingUsername">Banner Image</label>
                  </div>
                
                <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="button" id = "saveEdit" (click)="EditUserClick(editName,newBio)" >Save Changes</button>
                <small class="text-muted">By clicking Save Changes, your profile info will be updated.</small>
                
              </form>
            </div>
          </div>
        </div>
      </div>
