
<div id="totop"></div>
<a href="#totop" class="fa fa-arrow-up" id="fixedarrow"></a>
<!-- <a href="#totop"><i class="fa fa-arrow-up" aria-hidden="true" id="fixedarrow"></i></a> -->
<!-- LEFT VERTICAL FIXED MENU -->
<div class="container">
<div class="row">
<div class="col-3">
    <div class="container">
    <ul>
        <li style="padding-bottom: 10px;padding-top: 10px;"><fa-icon [icon]="faTwitter" class="fa-xl"id="twittericon"></fa-icon></li>
        <li><button type="menu" class = "navbar-btn " ><a routerLink="/feed"><fa-icon [icon]="faHome" class="profileimage" ></fa-icon>Home</a></button></li>
        <li><button type = "menu" class = "navbar-btn "><a routerLink="/explore"><fa-icon [icon]="faSearch" class="profileimage" ></fa-icon>Explore</a></button></li>
        <li><button type = "menu" class = "navbar-btn"><a routerLink="/notifications"><fa-icon [icon]="faBell" class="profileimage" ></fa-icon>Notification</a></button></li>
        <li><button type = "menu" class = "navbar-btn"><a routerLink="/messages"><fa-icon [icon]="faEnvelope" class="profileimage" ></fa-icon>Messages</a></button></li>
        <li><button type = "menu" class = "navbar-btn"><a routerLink="/bookmarks"><fa-icon [icon]="faBookmark" class="profileimage" ></fa-icon>Bookmarks</a></button></li>
        <li><button type = "menu" class = "navbar-btn"><a routerLink="/user"><fa-icon [icon]="faUser" class="profileimage" ></fa-icon>Profile</a></button></li>
        <li><button class="btn btn-primary tweet-btn"  id = "ComposeTweet" data-toggle ="modal" data-target="#modalComposetweet" >Tweet</button></li>
        <li style="margin-top: 20vh;"><button class="btn tweet-btn"  (click)="this.authservice.SignOut()">Logout</button></li>
        
    </ul>
</div>
</div>

<!-- END OF LEFT FIXED MENU -->

<div class="col-6 middlecontainer">
    <div class = "row" style="margin-top: 5vh;">
    <div class="col-2 align-self-start" style="box-sizing: border-box;">
        <img class="avi" [src]="this.userInfo.photoURL">
    </div>
    <div class="col-10 ">
        <form class="top-row">
        <input class="new-tweet1" #newtweet1 placeholder="Say whats on your mind..." style="width: 100%; border: none; height: 10vh;">
        </form>
    </div>

        <div class="col-12 justify-content-end" style="width: 100%; box-sizing: border-box;">
       
        <!-- Tweet Button -->
        <button class=" btn btn-primary" (click)="TweetService.PostTweet(newtweet1)" style="margin-bottom: 30px; padding:5px; width: 100px;float: right; margin-right: 20px; border-radius: 29px;">Tweet</button>
        </div>
    </div>
   

  

    
    <div class="mytweets" *ngFor="let tweet of this.feedTweets;let indexOfelement=index;">
        <div class="tweet" >
            <strong><p *ngIf="tweet.username != tweet.postedBy" style="margin-top:-20px;margin-bottom:10px"><fa-icon [icon]="faRetweet" aria-hidden="true"></fa-icon> {{tweet.username}} Reposted</p></strong>
        <div class="row container">
            <div class="col-2" style="box-sizing: border-box;">
        <img style="box-sizing: border-box;"  [src]='tweet.pfpURL' alt="avi" class="avi">
            </div>
            <div class="col" >
                <div style="box-sizing: border-box;">
            <div class = "usename"><button class="btn" (click)="goToPage(tweet.postedBy)">{{tweet.name}} @{{tweet.postedBy}}</button> - {{tweet.timeStamp}}</div>
            <div class="tweetcontent">{{tweet.Tweet}}</div>
            </div>
        </div>
            <div class="retweeticons">
                <button class="btn" style="width: 100%;"><fa-icon [icon]="faComment"  aria-hidden="true"></fa-icon></button>
                <button class="btn" style="width: 100%;" (click)="TweetService.RepostTweet(tweet)" *ngIf="tweet.username != userInfo.username"><fa-icon [icon]="faRetweet" aria-hidden="true"></fa-icon></button>
                <button class="btn" style="width: 100%;" (click)="TweetService.DeleteTweet(tweet.id)" *ngIf="(tweet.username == userInfo.username) && (tweet.username != tweet.postedBy)"><fa-icon [icon]="faRetweet" aria-hidden="true"></fa-icon></button>
                <button class="btn" style="width: 100%;"(click)="TweetService.LikeDislikeTweet(tweet)"><fa-icon [icon]="faHeart"  aria-hidden="true"></fa-icon> {{tweet.like}}</button>
                <button class="btn" style="width: 100%;"><fa-icon [icon]="faUpload"  aria-hidden="true"></fa-icon></button>
                <button class="btn" style="width: 100%;" (click)="TweetService.DeleteTweet(tweet.id)" *ngIf="tweet.postedBy == this.userInfo.username"><fa-icon [icon]="faTrash"  aria-hidden="true"></fa-icon></button>
            </div>
        </div>
        </div>
    </div>
    
    </div>


    <!-- RIGHT CONTAINER -->

    <div class="col-3">
       

        <section class="trends">
            <div class="headertrends">
                <h2>Canada Trends</h2>
                <i class="fa fa-cog" id="fa-cog"></i>
            </div>
            <div class="trenditem">
                <div class="trending"> 1 Trending</div>
                <div class="hashtag"> Cosc 310</div>
                <div class="trending"> Twitter Clone</div>
            </div>
            <div class="trenditem">
                <div class="trending"> 2 Trending</div>
                <div class="hashtag"> Cosc 310</div>
                <div class="trending"> Twitter Clone</div>
            </div>
           
            <div class="showmore">
                <a href="#" style="padding: 25px; color: royalblue;">Show more</a>
            </div>
        </section>

    </div>

</div>
</div>

<div class="modal fade" tabindex="-1"  id="modalComposetweet">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <!-- <h5 class="modal-title">Modal title</h5> -->
          <h2 class="fw-bold mb-0">Compose Tweet</h2>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body p-5 pt-0">
          <form class="ComposeTweet">
            
            <div class="form-floating mb-3">
                <input type="text" #newTweet class="form-control floating-input floating-input1 rounded-3" id="newTweet"  required>
                <label for="floatingInput"> Tweet away...</label>
              </div>
        
            
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="button" id = "saveEdit" (click)="TweetService.PostTweet(newTweet)" >Post Tweet</button>
            <small class="text-muted">By clicking Post tweet, your tweet is sent to the world!</small>
            
          </form>
        </div>
      </div>
    </div>
  </div>
 