
<div id="totop"></div>
<a href="#totop" class="fa fa-arrow-up" id="fixedarrow"></a>
<!-- <a href="#totop"><i class="fa fa-arrow-up" aria-hidden="true" id="fixedarrow"></i></a> -->
<!-- LEFT VERTICAL FIXED MENU -->
<div class="container">
<div class="row">
<div class="col-3">
    <div class="container">
    <ul>
        <li style="padding-bottom: 10px;padding-top: 10px;"><fa-icon [icon]="faTwitter" class="fa-xl"id="twittericon"></fa-icon></li>
        <li><button type="menu" class = "navbar-btn " ><a routerLink="/feed"><fa-icon [icon]="faHome" class="profileimage" ></fa-icon>Home</a></button></li>
        <li><button type = "menu" class = "navbar-btn "><a routerLink="/explore"><fa-icon [icon]="faSearch" class="profileimage" ></fa-icon>Explore</a></button></li>
        <li><button type = "menu" class = "navbar-btn"><a routerLink="/notifications"><fa-icon [icon]="faBell" class="profileimage" ></fa-icon>Notification</a></button></li>
        <li><button type = "menu" class = "navbar-btn"><a routerLink="/messages"><fa-icon [icon]="faEnvelope" class="profileimage" ></fa-icon>Messages</a></button></li>
        <li><button type = "menu" class = "navbar-btn"><a routerLink="/bookmarks"><fa-icon [icon]="faBookmark" class="profileimage" ></fa-icon>Bookmarks</a></button></li>
        <li><button type = "menu" class = "navbar-btn"><a routerLink="/user"><fa-icon [icon]="faUser" class="profileimage" ></fa-icon>Profile</a></button></li>
        <li><button class="btn btn-primary tweet-btn"  id = "ComposeTweet" data-toggle ="modal" data-target="#modalComposetweet" >Tweet</button></li>
        <li style="margin-top: 20vh;"><button class="btn tweet-btn"  (click)="this.authservice.SignOut()">Logout</button></li>
        
    </ul>
</div>
</div>

<!-- END OF LEFT FIXED MENU -->

<div class="col-9 middlecontainer">

    <h3 id="header-username">Messages</h3>
    
    
    
</div>


    <!-- RIGHT CONTAINER -->


</div>
</div>
<div class="modal fade" tabindex="-1"  id="modalComposetweet">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <!-- <h5 class="modal-title">Modal title</h5> -->
          <h2 class="fw-bold mb-0">Compose Tweet</h2>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" ></button>
        </div>
  
        <div class="modal-body p-5 pt-0">
          <form class="ComposeTweet">
            
            <div class="form-floating mb-3">
                <input type="text" #newTweet class="form-control floating-input floating-input1 rounded-3" id="newTweet"  required>
                <label for="floatingInput"> Tweet away...</label>
              </div>
        
            
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="button" id = "saveEdit" (click)="TweetService.PostTweet(newTweet)" >Post Tweet</button>
            <small class="text-muted">By clicking Post tweet, your tweet is sent to the world!</small>
            
          </form>
        </div>
      </div>
    </div>
  </div>