
  
  <div class="row">
    <div class="col-sm column" style="background-color:#aaa;">
    
    </div>
    <div class="col-sm" style="background-color:rgb(255, 255, 255);">
      
      
        <div class='div-1'>
            <div class='sub-div-1'>
                <i class="fa fa-twitter icon"></i>
            </div>
        </div>
        <div class='div-2'>
            <div class='sub-div-2'>
              

                <h3>
                  Tweet Away...
                </h3>
            </div>
        </div>
        <div class='div-3' style="margin-top: 10vh;">
          <div class='sub-div-3 form-floating mb-3'>
              <input type="text" #LgUsername class="form-control rounded-3" id="Username" placeholder="Username" required minlength="4">
              <label for="Username">Username</label>
          </div>
          
      </div>
       
        <div class='div-3'>
            <div class='sub-div-3 form-floating mb-3'>
                <input type="password" #LgPass class="form-control rounded-3" id="Password" placeholder="Password" required  minlength="8" maxlength="16">
                  <label for="Password">Password</label>
            </div>
        </div>
        <div class='div-5'>
            <div class='sub-div-5'>
                <button class= "btn btn-outline-dark btn-lg" id="loginbtn" type="button" (click)="ClickLogin(LgPass, LgUsername)">Log in</button><br>
                
            </div>
        </div>
        <div class='div-6'>
            <div class='sub-div-6'>
              
              <button class="button btn btn-outline-dark " data-toggle="modal" data-target="#modalForgotPassword">Forgot password? </button>
                
                          
            </div>
        </div>
        <div class="div-7">
        <h3>Don't Have An Account?</h3>
    </div>
        <div class='div-7'>
          <div class='sub-div-7'>
        
            <button type="button" class="btn btn-outline-primary btn-lg" data-toggle="modal" data-target="#modalSignin">Sign Up</button>
                        
          </div>
      </div>
  
    </div>
    </div>
    <!--Sign Up Modal Start-->
    <div class="modal fade" tabindex="-1" role="dialog" id="modalSignin">
        <div class="modal-dialog" role="document">
          <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
              <!-- <h5 class="modal-title">Modal title</h5> -->
              <h2 class="fw-bold mb-0">Sign up for free</h2>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
      
            <div class="modal-body p-5 pt-0">
              <form class="signUp">
                <div class="form-floating mb-3">
                    <input type="text" #regName class="form-control floating-input floating-input1 rounded-3" id="floatingName"  required>
                    <label for="floatingInput"> Name</label>
                  </div>
                <div class="form-floating mb-3">
                  <input type="email" #regEmail class="form-control floating-input floating-input2 rounded-3 " id="floatingInput"  required>
                  <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" #regBday class="form-control floating-input floating-input3 rounded-3" id="floatingBirthday"  placeholder="yyyy-mm-dd" required>
                    <label for="floatingBirthday">Birthday (yyyy-mm-dd)</label>
                    <small class="text-muted" id= "age-valid" style="display: none;color:red;">You must be 18 to use this service.</small>
                  </div>
                <div class="form-floating mb-3">
                    <input type="text" #regUsername class="form-control floating-input floating-input4 rounded-3 " id="floatingUsername"  required minlength="4" maxlength="10">
                    <label for="floatingUsername">Username</label>
                  </div>
                <div class="form-floating mb-3">
                  <input type="password" #regPass class="form-control floating-input floating-input5 rounded-3 " id="floatingPassword"  required  minlength="8" maxlength="16">
                  <label for="floatingPassword">Password</label>
                </div>
                <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="button" id = "signUp" (click)="onRegClick(regUsername,regEmail,regName,regPass,regBday)" >Sign up</button>
                <small class="text-muted">By clicking Sign up, you agree that this is a cool webpage.</small>
                
              </form>
            </div>
          </div>
        </div>
      </div>

      <!--END MODAL-->
      <div class="modal fade" tabindex="-1" role="dialog" id="modalForgotPassword">
        <div class="modal-dialog" role="document">
          <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
              <!-- <h5 class="modal-title">Modal title</h5> -->
              <h2 class="fw-bold mb-0">Forgot Password?</h2>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
      
            <div class="modal-body p-5 pt-0">
              <form class="signUp">
                
                <div class="form-floating mb-3">
                  <input type="email" #forgotEmail class="form-control floating-input floating-input2 rounded-3 " id="floatingInput"  required>
                  <label for="floatingInput">Email address for account</label>
                </div>
                
                <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="button" id = "signUp" (click)="authService.ForgotPassword(forgotEmail.value)">Reset Password</button>
                
                
              </form>
            </div>
          </div>
        </div>
      </div>
